
.loading {
  text-align: center; 
  img{
    width: 75px;
    height: 65px;
  }
}


:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#content{
  order: 5;
  @media screen and (min-width: 575px) {
    order: 0;
  }
}
#tools--navbar{
  border-top: 10px solid rgb(47, 51, 54);
  padding-top: 20px;
  @media screen and (min-width: 575px) {
    border-top: 0;
    padding-top: 7px;
  }
}
.search-form{
  max-width: 350px;
  width: 100%;
  background: #202327;
  display: flex;
  overflow: hidden;
  border-radius: 9999px;
  padding: 5px 33px 5px 48px;
  box-sizing: border-box;
  color: rgb(110, 118, 125);
  font-size: 15px !important;
  line-height: 1.5;      
  border:1px solid transparent;
  &:hover{
    background: transparent;
    border:1px solid rgb(23, 191, 99);
    mat-icon{
      color: rgb(23, 191, 99);
    }
  }
  mat-icon{
    position: absolute;
    font-size: 24px;
    left: -30px;
    top: 5px;
    @media screen and (min-width: 575px) {
      left: -30px;
      font-size: 20px;
    }
  }
}
.component--header {
  border-top: 1px solid rgb(47, 51, 54);
  border-bottom: 10px solid rgb(47, 51, 54);
  padding: 2px 14px 0px;
  margin-top: 20px;
  @media screen and (min-width: 575px) {
    margin-top: 0;
    border-top: 0;
    border-bottom: 10px solid rgb(47, 51, 54);
  }
  h2{
    line-height: 0.8;
    color: rgba(217,217,217,1.00);
  }
}
.tweet{
  border-bottom: 1px solid rgb(32, 35, 39);
  &:hover{
    background:  rgba(32, 35, 39,0.9);
  }
  &--container{
    border-top: 10px solid rgb(32, 35, 39);
    box-sizing: border-box;
    @media screen and (min-width: 575px) {
      border-top: 0;

      height:  calc(100vh);
      overflow: scroll;
    }
  }
  &--data{
    padding: 0 10px;
    p{
      font-size: 15px;
      padding: 0;
      margin: 0;
    }
  }
}
.pull-right{
  text-align: right;
}
.mat-raised-button{
  background-color: darkred;
}